[y-spinner]:indeterminate {
  // Reset base styles
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &::-moz-progress-bar {
    background: none; /* display:none doesn’t work, don’t ask me why */
  }
  &::-webkit-progress-bar {
    display: none;
  }
  &::-ms-fill {
    animation-name: none; /* Explicitly must be `animation-name: none` */
  }

  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 4px solid #fff;
  border-top-color: var(--persian-rose);
  box-sizing: border-box;
  animation: rotate 1.4s linear infinite;
}
.spinner--small:indeterminate {
  width: 24px;
  height: 24px;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
