<section class="container">
  <div class="island">
    <label *ngIf="isBusy && !error" class="loading">
      Logging you in
      <progress yasaa-spinner></progress>
    </label>
    <ng-container *ngIf="error">
      <h1 class="header">😖 Authentication failed</h1>
      <p class="sub-header">An error occured while logging in.</p>
      <app-error-message [error]="error" />
      <button
        yasaa-button
        type="button"
        [disabled]="isBusy"
        [loading]="isBusy"
        (click)="retry()"
      >
        Try again
      </button>
    </ng-container>
  </div>
</section>
