<section class="container">
  <div class="island">
    <label *ngIf="isBusy && !errorMessage" class="loading">
      Logging you in
      <progress y-spinner></progress>
    </label>
    <ng-container *ngIf="errorMessage">
      <h1 class="header">😖 Authentication failed</h1>
      <p class="sub-header">An error occured while logging in.</p>
      <pre class="error">{{ errorMessage }}</pre>
      <button
        y-button
        type="button"
        [disabled]="isBusy"
        [loading]="isBusy"
        (click)="retry()"
      >
        Try again
      </button>
    </ng-container>
  </div>
</section>
