[y-button] {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-image: none;
  background: radial-gradient(
    circle at left top,
    var(--electric-violet) 40%,
    var(--persian-rose)
  );
  background-size: 120%;
  color: currentColor;
  padding: 8px;
  height: 48px;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 4px 12px rgb(0, 0, 0, 0.6);
  transition: background-position 0.5s ease-out;
  &:focus {
    outline: 1px solid var(--persian-rose);
  }
  &:hover:not(:disabled) {
    background-position: bottom right;
  }
  &:disabled {
    cursor: default;
  }
}
