.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 12px;
  box-sizing: border-box;
}
.island {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
.header {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 0;
}
.sub-header {
  opacity: 0.8;
  margin: 24px 0 64px 0;
}

@media screen and (min-width: 1024px) {
  .container {
    justify-content: center;
  }
  .island {
    display: block;
    margin-bottom: 0;
    margin-left: 64px;
    width: 480px;
    padding: 32px;
  }
}
