.container {
  justify-content: flex-end;
  align-items: center;
}
.island {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  text-align: center;
}
.sub-app-name {
  margin: 24px 0 64px 0;
  text-shadow: 0 1px 2px #212121;
}

@media screen and (min-width: 640px) {
  .container {
    justify-content: center;
  }
  .island {
    display: flex;
    margin: auto;
    width: 480px;
    padding: 32px;
  }
}
